.container{
    background-color: #192a56;
    padding: 2em;
    border-radius: 1em;
    width: 800px;
    display: flex;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    align-items: center;
    margin: 3em auto;
    box-shadow: 0 0 10px 0 rgba(211, 211, 211, 0.2);
    transition: all 0.3s ease;
}

.container:hover{
    box-shadow: 0 0 20px 5px rgba(211, 211, 211, 0.2);
}

tbody, td, tr {
    border-bottom: 1px solid #ddd; /* Bordas finas */
    padding: 10px; /* Espaçamento interno */
}

.mensagemIMC {
    margin-top: 10px;
    color: #ff0000; /* Exemplo de cor de alerta */
    font-weight: bold;
}